
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
.idea/
.idea
src/Controller/StripeController.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
