{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/videos.css') }}">
{% endblock %}

{% block body %}
    <section class="my-5">
        <div class="container-fluid">
            <div class="heading">
                <h2>Notre galerie video !</h2>
                <span>Retrouvez les vidéos liées à nos activités !</span>
            </div>


        </div>
        {#-----MODAL D'ERREUR -----#}

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/videos.js') }}"></script>
{% endblock %}
